<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container-fluid mt-4">
  <div class="row ml-1">
    <div class="col-md-3 mr-3">
      <div class="row">
        <div class="card bg-light w-100 card-1">
          <div class="card-body phoneInput">
            <div>Enter Customer Phone Number</div>

            <div>
              <input type="tel" value = "<%= params['phone_number'].present? ? params['phone_number'] : '' %>" class="form-control text-center customer_number">
              <input type="hidden" value = "" class="form-control text-center cust_id">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="card bg-light w-100">
          <div class="card-body custdetails">
            <div class="text-center">Customer Details</div>
            <button class="edit_cust_detail btn btn-info text-white">Edit</button>
            <button class="save_cust_detail btn btn-info float-right text-white">Save</button>
            <div class="row">
              <table class="table table-borderless mt-3">
                <tbody>
                <tr>
                  <td class="custdetails-info">First Name:</td>
                  <td ><input type="text" value="<%= @result['customer_detail'][0].first_name if params['phone_number'].present? %>" readonly="true" class="form-control cust_first_name"></td>
                </tr>
                <tr>
                  <td class="custdetails-info">Last Name:</td>
                  <td ><input type="text" value="<%= @result['customer_detail'][0].last_name if params['phone_number'].present? %>" readonly="true" class="form-control  cust_last_name"></td>
                </tr>
                <tr>
                  <td class="custdetails-info">Address:</td>
                  <td ><input type="textarea" value="<%= @result['customer_detail'][0].address if params['phone_number'].present? %>"  readonly="true" class="form-control  cust_address"></td>
                </tr>
                <tr>
                  <td class="custdetails-info">Phone No:</td>
                  <td ><input type="text" value="<%= @result['customer_detail'][0].phone if params['phone_number'].present? %>" readonly="true" class="form-control  cust_phoneno"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <button class="btn btn-primary p-4 w-100 text-white create_po"><a class="create_purchase_order" href="/product_selling">Create Purchase Order</a></button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="card bg-light w-100">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-borderless ">
                <thead>
                <tr>
                  <td>Order</td>
                  <td>Order Date</td>
                  <td>Order Price</td>
                  <td>Action</td>
                </tr>
                </thead>
              </table>
            </div>
            <div class="table-responsive order-table">
              <table class="table table-borderless">

                <tbody class="order_detail">
                <% if params['phone_number'].present? %>
                  <% @result['order_detail'].each do |val| %>
                    <tr>
                      <td>#PO<%= val.id %></td>
                      <td><%= val.created_at %></td>
                      <td><%= val.total %></td>
                      <td><a href="single_product_detail?order_id=<%= val.id %>">View Details</a></td>
                    </tr>
                  <% end %>
                <% end %>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    <% if params['phone_number'].present? %>
    $('.custdetails').show();
    <% else %>
      $('.custdetails').hide();
    <% end %>
    $('.customer_number').change(function(){
        var phone_number = $(this).val();
        var data = {
            phone_number: phone_number,
        }

        $.ajax({
            url:"/search_by_phone",
            method: "POST",
            data: data,
            success: function(data){
                $('.custdetails').show();
debugger
                if (data['status'] == 200){

                    $('.cust_first_name').val(data['customer_detail'][0]['first_name']);
                    $('.cust_last_name').val(data['customer_detail'][0]['last_name']);
                    $('.cust_address').val(data['customer_detail'][0]['address']);
                    $('.cust_phoneno').val(data['customer_detail'][0]['phone']);

                    $.each(data['order_detail'], function( index, val ) {
                        var new_url = "/single_product_detail?order_id="+val.id;
                        var order_date =  val.created_at ? val.created_at.split('T') : [''];
                        $('.cust_id').val(val.id);
                        $('.order_detail').append(" <tr>" +
                            "<td> #PO"+index+"</td>" +
                            "<td>"+order_date[0]+"</td>" +
                            "<td>"+val.total+"</td>" +
                            "<td><a href="+new_url+">View Details</a></td>" +
                            "</tr>");
                    });
                    console.log(data);
                }else{
                    window.location.replace('/product_selling?phone_number='+phone_number)
                }
                },
            error: function(data){
                window.location.replace('/product_selling?phone_number='+phone_number)
            }
        });


    })
    $('.save_cust_detail').hide();
    // readonly false for customer detail
    $('.edit_cust_detail').click(function(){
        $('.cust_first_name').prop('readonly', false);
        $('.cust_last_name').prop('readonly', false);
        $('.cust_address').prop('readonly', false);
        $('.save_cust_detail').show();
    });

    //edit customer detail on click of submit
    $('.save_cust_detail').click(function(){
        if(confirm("Are you Sure to Edit Customer Detail?")){
            var cust_first_name = $('.cust_first_name').val();
            var cust_last_name = $('.cust_last_name').val();
            var cust_address = $('.cust_address').val();
            var cust_phone = $('.cust_phoneno').val();
            var data = {
                cust_first_name : cust_first_name,
                cust_last_name : cust_last_name,
                cust_address : cust_address,
                cust_phone:cust_phone
        }
            $.ajax({
                url:"/edit_customer_detail",
                method: "POST",
                data: data,
                success: function(data){
                    $('.custdetails').show();
                    if (data == true){
                        window.location.replace('/search_customer?phone_number='+cust_phone);
                    }else{
                        alert("Please contact to technical team");
                    }
                },
                error: function(data){
                    alert("Please contact to technical team");
                }
            });
        }
    })
$('.create_po').click(function(){
  var phone_number = $('.customer_number').val()
    if (phone_number == ''){
      // #open modal
    }else{
        $(".create_purchase_order").attr("href", "/product_selling?phone_number="+phone_number);
    }

});
</script>