
    <form class="form-inline" action="buy_product" method="post">
      <div class="row">
        <div class="col-md-8">
          <div class="card mt-4">
            <div class="card-header">Product</div>
            <% @result['product'].each_with_index  do |product,index| %>
              <div class="card-body">
                <input
                  type="text"
                  placeholder="Product"
                  class="form-control"
                  name="product_name[<%= index %>]"
                  value="<%= product['product'].product_name %> "
                  style="width: 30%"
                  />&nbsp;&nbsp;
                <select
                  class="form-control sku_<%= index %> sku_detail"
                  name="sku[<%= index %>]"
                >
                  <option disabled selected>SKU</option>
                  <% product['product_detail'].each do |product_detail_val| %>
                    <option value="<%=product_detail_val.id %>"><%=product_detail_val.sku %></option>
                  <% end %></select
                >&nbsp;&nbsp;
                <select
                  class="form-control qty"
                  name="qty[<%= index %>]"
                  id="<%= index %>"
                >
                  <option disabled selected>QTY</option>
                  <% (1..10).each do |val| %>
                    <option value="<%=val %>"><%=val %></option>
                  <% end %></select
                >&nbsp;&nbsp;
                <!--          <select class="form-control discount discount_" style="width: 18%">-->
                <!--            <option disabled selected>DISCOUNT</option>-->
                <!--              <option value=""></option>-->
                <!--            </select-->
                <!--          >&nbsp;&nbsp;-->
                <input
                  name="price[<%= index %>]"
                  type="text"
                  placeholder="PRICE"
                  class="form-control product_price price_<%= index %>"
                  style="width: 15%"
                  />
              </div>
<!--              <input-->
<!--                name="select_product[<%#= index %>]"-->
<!--                type="checkbox"-->
<!--                placeholder="PRICE"-->
<!--                class="form-control select_product"-->
<!--                style="width: 15%"-->
<!--                />-->
            <% end %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mt-4">
            <div class="card-header">Customer</div>
            <div class="card-body">
              <div class="form-group">
                <input
                  type="text"
                  name="first_name"
                  class="form-control"
                  placeholder="First Name"
                  />
              </div>
              <br />
              <div class="form-group">
                <input
                  type="text"
                  name="last_name"
                  class="form-control"
                  placeholder="Last Name"
                  />
              </div>
              <br />
<!--              <div class="form-group">-->
<!--                <input-->
<!--                  type="email"-->
<!--                  name="email"-->
<!--                  class="form-control"-->
<!--                  placeholder="Email"-->
<!--                  />-->
<!--              </div>-->
<!--              <br />-->

              <div class="form-group">
                <input
                  type="tel"
                  name="phone_no"
                  class="form-control"
                  placeholder="Contact Number"
                  />
              </div>
<!--              <label>Anniversary Date</label>-->
<!--              <div class="form-group">-->
<!--                <input-->
<!--                  type="date"-->
<!--                  name="dob"-->
<!--                  class="form-control"-->
<!--                  placeholder="DOB"-->
<!--                  />-->
<!--              </div>-->
<!--              <br />-->
<!--              <label>Date Of Birth</label>-->
<!--              <div class="form-group">-->
<!--                <input-->
<!--                  type="date"-->
<!--                  name="dob"-->
<!--                  class="form-control"-->
<!--                  placeholder="Date of Birth"-->
<!--                  />-->
<!--              </div>-->
              <br />
              <label>Address</label>
              <textarea style="width: 232px;" name="address" value="" class="form-control"></textarea>
              <br />
              <br />
              <input
                type="tel"
                name="address"
                class="form-control"
                placeholder="city" readonly="true" value="Raipur"
                />
              <br />
              <div class="form-group">
                <label>Sub-Total</label>&nbsp;&nbsp;
                &nbsp;
                <span class="ml-5 total"></span>
              </div>
            </div>
          </div>
          <div class="mt-3">
          <button class="btn btn-dark">Checkout</button>
          </div>
        </div>
      </div>
    </form>
  </div>


<script>
    $(".qty").change(function () {
        var id = $(this).attr("id");
        var sku = parseInt(
            $(".sku_" + id + " option:selected").text(),
            10
        );
        console.log(id);
        var qty = parseInt($(this).val(), 10);
        var price = sku * qty;
        // $(".price_" + id).val(price);
        (parseInt(price)||0) ? $(".price_" + id).val(price) : $(".price_" + id).val("0");

    });
    $(".sku_detail").change(function () {
        var id = $(this).next().attr("id");
        var sku = parseInt(
            $(".sku_" + id + " option:selected").text(),
            10
        );
        var qty = parseInt($(this).next().val(), 10);
        var price = sku * qty;
        console.log(id);
        console.log(qty);
        console.log(price);
        // $(".price_" + id).val(price);
        (parseInt(price)||0) ? $(".price_" + id).val(price) : $(".price_" + id).val("0");

    });
    $(".discount").change(function () {
        var price = $(this).next().val();
        var discount = parseInt($(this).text(), 10);
        // var qty = parseInt($(this).next().val(),10);
        // var price = sku*qty;
        console.log(price);
        console.log(discount);
        // console.log(price);
        // $('.price_'+id).val(price);
    });
    $('.select_product').on('change', function(){
        $("#threadTitleCheck").prop("disabled", !this.checked).focus();
    });

    $(document).on("change", ".product_price", function() {
        var sum = 0;
        $(".product_price").each(function(){
            sum += +$(this).val();
        });
        console.log("*****"+sum);
        $(".total").text(sum);
    });
</script>