<div class="container-fluid mt-4">
  <% if params['view_detail'].present? && params['view_detail'] == "true" %>
    <div class="row title-msg">
      <span>Please Verify the details to make the final edits</span>
    </div>
  <% end %>
  <div class="row mt-4 detailConfirmBox">
    <div class="col-md-4 box-1">
      <div class="card bg-light w-100">
        <div class="card-body">
          <div class="text-center">Customer Details</div>
          <div class="row">
            <table class="table table-borderless mt-3">
              <tbody>
              <tr>
                <td class="custdetails-info">First Name:</td>
                <td><%= @customer_detail[0].first_name%></td>
              </tr>
              <tr>
                <td class="custdetails-info">Last Name:</td>
                <td><%= @customer_detail[0].last_name %></td>
              </tr>
              <tr>
                <td class="custdetails-info">Address:</td>
                <td><%= @customer_detail[0].address%></td>
              </tr>
              <tr>
                <td class="custdetails-info">Phone No:</td>
                <td><span><%= @customer_detail[0].phone %></span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card bg-light w-100">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
              <tr>
                <td>S.No</td>
                <td>Name</td>
                <td>Weight</td>
                <td>Qty</td>
                <td>Price Per Unit</td>
                <td>Price</td>
              </tr>
              </thead>
            </table>
          </div>
          <div class="table-responsive order-table">
            <table class="table table-borderless">
              <tbody>
                <% @result.each_with_index do |val,index| %>
                  <tr>
                    <td><%= index %></td>
                    <td><%= val['product_name'] %></td>
                    <td><%= val["order_detail"].sku_id %></td>
                    <td><%= val["order_detail"].quantity %></td>
                    <td>&#x20B9;<%= val["order_detail"].selling_price.to_i/val["order_detail"].quantity.to_i %></td>
                    <td>&#x20B9;<%= val["order_detail"].selling_price.to_i%></td>
                  </tr>
                <%end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--view_detail-->

<% if params['view_detail'].present? && params['view_detail'] == "true" %>
  <div class="row mt-5 finalCheck-btn ml-auto mr-auto">
    <div class="col-md-6">
      <button class="btn btn-danger p-4 w-100">
        Back
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary p-4 w-100 confirm_order">
        Confirm
      </button>
    </div>
  </div>
<% end %>

<script>
    $('.confirm_order').click(function(){
        var order_id = $('.get_order_id').val();
        var data = {order_id:order_id};
        $.ajax({
            url:"/update_order_status",
            method: "POST",
            data: data,
            success: function(data){
                console.log(data);
            },
            error: function(data){

            }
        });
    });
</script>