<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container-fluid mt-4">
  <% if params['view_detail'].present? && params['view_detail'] == "true" %>
    <div class="row title-msg">
      <span>Please Verify the details to make the final edits</span>
    </div>
  <% end %>
  <div class="row mt-4 detailConfirmBox">
    <div class="col-md-4 box-1">
      <div class="card bg-light w-100">
        <div class="card-body">
          <div class="text-center">Customer Details</div>
          <div class="row">
            <table class="table table-borderless mt-3">
              <tbody>
              <tr>
                <td class="custdetails-info">First Name:</td>
                <td><%= @customer_detail[0].first_name%></td>
              </tr>
              <tr>
                <td class="custdetails-info">Last Name:</td>
                <td><%= @customer_detail[0].last_name %></td>
              </tr>
              <tr>
                <td class="custdetails-info">Address:</td>
                <td><%= @customer_detail[0].address%></td>
              </tr>
              <tr>
                <td class="custdetails-info">Phone No:</td>
                <td><span><%= @customer_detail[0].phone %></span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card bg-light w-100">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-borderless">
              <thead>
              <tr>
                <td>S.No</td>
                <td>Name</td>
                <td>Weight</td>
                <td>Qty</td>
                <td>Price Per Unit</td>
                <td>Price</td>
              </tr>
              </thead>
            </table>
          </div>
          <div class="table-responsive order-table">
            <table class="table table-borderless">
              <tbody>
                <% @result.each_with_index do |val,index| %>
                  <tr>
                    <td><%= index %></td>
                    <td><%= val['product_name'] %></td>
                    <td><%= val["order_detail"].sku_id %></td>
                    <td><%= val["order_detail"].quantity %></td>
                    <td>&#x20B9;<%= val["order_detail"].selling_price.to_i/val["order_detail"].quantity.to_i %></td>
                    <td>&#x20B9;<%= val["order_detail"].selling_price.to_i%></td>
                  </tr>
                <%end %>
              </tbody>
            </table>
            <input type="hidden" class="get_order_id" value="<%= @result[0]["order_detail"].order_id.to_i%>">
            <input type="hidden" class="payment_type" value="<%= @payment_type.present? ? @payment_type : ''%>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if params['view_detail'].present? && params['view_detail'] == "true" %>
  <div class="row mt-5 finalCheck-btn ml-auto mr-auto">
    <div class="col-md-6">
      <button class="btn btn-danger p-4 w-100">
        Back
      </button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary p-4 w-100 confirm_order">
        Confirm
      </button>
    </div>
  </div>
<% end %>

<!--spinner-->
<!--<div class="spinner-border text-primary" role="status"> <span class="sr-only">Loading...</span> </div>-->
<div class="cod_popup" id="cod_popup">
  <div class="card border-0 popup-cardbody">
    <div class="card-body">
      <div class="row justify-content-end">
        <span class="mr-2"><a href="#"  class="btn close text-white ">&times;</a></span>
      </div>
      <div class="row mt-4 text-white h5 justify-content-center">
        <span>Are you Sure you want to save the details?</span>
        <button class="btn save_yes btn-light">Yes</button>
        <button class="btn close btn-light">NO</button>
      </div>
    </div>
  </div>
</div>
<script>
    // ======close modal=======
    $('.close').click(function(){
        $('#common_comdal').hide();
    })
    // ======close modal=======
  $('.cod_popup').hide();
  // $('.spinner-border').hide();
    $('.confirm_order').click(function(){
        var order_id = $('.get_order_id').val();
        var payment_type = $('.payment_type').val();
        var data = {order_id:order_id,payment_type:payment_type};
        $.ajax({
            url:"/update_order_status",
            method: "POST",
            data: data,
            success: function(data){
                if (payment_type == "2"){ //cod
                    $('.cod_popup').show();
                }else{ //online
                    window.location.replace('/customer_payment_page?order_id='+order_id);
                }
                // $('.spinner-border').show();

                console.log(data);
            },
            error: function(data){

            }
        });
    });
</script>